/*
 * main.css - Reglas principales del sitio ctmcorp.cl
 *
 * Copyright 2013 - 2017 Felipe Peñailillo <breadmaker@radiognu.org>
 *
 * Este programa es software libre; puede redistribuirlo y/o modificarlo bajo
 * los términos de la Licencia Pública General GNU tal como se publica por
 * la Free Software Foundation; ya sea la versión 3 de la Licencia, o
 * (a su elección) cualquier versión posterior.
 *
 * Este programa se distribuye con la esperanza de que le sea útil, pero SIN
 * NINGUNA GARANTÍA; sin incluso la garantía implícita de MERCANTILIDAD o
 * IDONEIDAD PARA UN PROPÓSITO PARTICULAR. Vea la Licencia Pública
 * General de GNU para más detalles.
 *
 * Debería haber recibido una copia de la Licencia Pública General de GNU
 * junto con este programa; de lo contrario escriba a la Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor,
 * Boston, MA 02110-1301, EE. UU.
 *
 */

[data-bs-theme="dark"] body {
    background-color: #133956;
    background-image:
        linear-gradient(rgba(255, 255, 255, .125) 2px, transparent 2px),
        linear-gradient(90deg, rgba(255, 255, 255, .125) 2px, transparent 2px),
        linear-gradient(rgba(255, 255, 255, .0625) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, .0625) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

[data-bs-theme="light"] body {
    background-color: #76b2e0;
    background-image:
        linear-gradient(rgba(0, 0, 0, .25) 2px, transparent 2px),
        linear-gradient(90deg, rgba(0, 0, 0, .25) 2px, transparent 2px),
        linear-gradient(rgba(0, 0, 0, .125) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0, 0, 0, .125) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.bg-custom {
    backdrop-filter: blur(3px);
    --bs-bg-opacity: .25;
}